.navLink {
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 18px 28px;
  font-size: 1rem;
  line-height: 1.375em;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
  color: var(--color-white);
}

.navElement {
  padding: 0 26px;
}

.contactButton {
  cursor: not-allowed;
}
